 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/136.jpg');
  background-position: 50% 50%;
  min-height: 868px;
}

.u-section-1 .u-image-1 {
  width: 238px;
  height: 238px;
  margin: 25px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-2 {
  width: 238px;
  height: 238px;
  margin: -238px auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 238px;
  height: 238px;
  margin: -234px auto 0 calc(((100% - 1140px) / 2)  + -14px);
}

.u-section-1 .u-group-1 {
  width: 267px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  height: auto;
  margin: 63px auto 60px calc(((100% - 1140px) / 2)  + 18px);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 27px;
}

.u-section-1 .u-text-1 {
  margin: 0 28px 0 33px;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  margin: 14px 46px 0 102px;
}

.u-section-1 .u-icon-1 {
  width: 46px;
  height: 46px;
  margin: -224px 169px 0 52px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 34px;
  height: 34px;
  margin: 12px auto 0 58px;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 35px;
  height: 35px;
  margin: -4px auto 0 58px;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 29px;
  height: 29px;
  margin: -3px auto 0 64px;
  padding: 0;
}

.u-section-1 .u-icon-5 {
  width: 31px;
  height: 31px;
  margin: 3px 189px 0 64px;
  padding: 0;
}

.u-section-1 .u-icon-6 {
  width: 35px;
  height: 35px;
  margin: 5px auto 0 59px;
  padding: 0;
}

.u-section-1 .u-btn-1 {
  --radius: 10px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 11px 18px 0 auto;
  padding: 29px 70px 31px 68px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 716px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2) + -14px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 18px);
    height: auto;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 172px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 0% 50%;
    min-height: 548px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + -14px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 18px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 943px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2) + -14px);
  }

  .u-section-1 .u-group-1 {
    min-height: 553px;
    margin-top: 66px;
    margin-left: auto;
    margin-bottom: 58px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 65px;
    margin-right: 29px;
    margin-left: 85px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: auto;
    margin-left: 29px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 35px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 35px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 41px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: auto;
    margin-left: 41px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 36px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 72px;
    margin-right: 1px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%;
    min-height: 939px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 430px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 430px) / 2) + -14px);
  }

  .u-section-1 .u-group-1 {
    min-height: 458px;
    margin-top: 61px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 62px;
    margin-right: 27px;
    margin-left: 48px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
    margin-right: 43px;
    margin-left: 105px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -220px;
    margin-left: 43px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 9px;
    margin-left: 48px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -6px;
    margin-left: 50px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 1px;
    margin-left: 58px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 0;
    margin-left: 54px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 2px;
    margin-left: 54px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
    padding: 11px 30px 12px 28px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 874px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 11px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 26px 0 19px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(25% - 15px);
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 712px;
  grid-gap: 20px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/Tire-repair.jpeg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 31px;
  padding: 32px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 61px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/36258225392b466dbbdc648cc5d20d9246b94e6f366418503ed55f11e69088f3e13326d9b4e995e60d91e6fee8e32cb8cd56a3c407c6dcdaf31c47_1280.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 31px;
  padding: 32px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 61px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/09eea30f0c3c567a97572c644df616179bd3c9ddd08f1e8b9c7bfa87aa501b9faf40991675def4982201841c020da388c3f4268f4a38e2150d58a8_1280.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 31px;
  padding: 32px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 61px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/VehicleLockout.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 31px;
  padding: 32px;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 61px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/11615ef35331e8fdb56e93b5b0a88ff6ae675d46333461cf181b4afd3d7947fa6bbf71ce6ba183274c02bd8a22c7a730cac2b166192e59e233408d_1280.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 31px;
  padding: 32px;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 61px 0 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/675691515f859a7e9a67c343ecf6d2eb4599456777a9a1a9ab5a8108b024f246e658a865cd3ab31823282771ed5383cc373f09e937b438679ec00e_1280.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-6 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 31px;
  padding: 32px;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 61px 0 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/ontario-towing-blog.png');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-icon-7 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 31px;
  padding: 32px;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 61px 0 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/auto-mechanic-florida_hero.webp');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-icon-8 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 31px;
  padding: 32px;
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 61px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 586px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10px);
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 1031px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-8 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2720px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 65px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 1906px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 719px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-3 .u-image-1 {
  min-height: 599px;
  background-image: url("images/Screenshot2024-06-06at7.22.24PM.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding-top: 30px;
  padding-right: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 599px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 21px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 79px 9px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 26px 293px 0 9px;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  margin: 26px auto 0 9px;
  padding: 17px 60px 18px 58px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 494px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 494px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 202px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-3 .u-image-1 {
    min-height: 378px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 467px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-left: 15px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-3 .u-image-1 {
    order: 1;
    min-height: 567px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
    order: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: 37px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 357px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 760px;
}

.u-section-4 .u-text-1 {
  font-family: "ADLaM Display";
  font-size: 3rem;
  margin: 56px 87px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-4 .u-text-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 59px;
    margin-right: auto;
    margin-left: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1129px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 60px;
    margin-left: -5px;
    margin-right: -5px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 931px;
}

.u-section-5 .u-shape-1 {
  width: 447px;
  height: 588px;
  margin: 306px 0 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1086px;
  margin: -782px auto 37px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 792px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 60px 0 0;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-group-elements-1 {
  width: 300px;
  min-height: 55px;
  height: auto;
  margin: 22px auto 0 0;
}

.u-section-5 .u-social-icons-1 {
  height: 55px;
  min-height: 16px;
  width: 55px;
  min-width: 16px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-icon-1 {
  height: 78px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: -43px 0 0 66px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 27px 0 0;
}

.u-section-5 .u-form-1 {
  margin: 46px 0 0;
}

.u-section-5 .u-input-1 {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAmJJREFUWAntV7uKIkEUvbYGM4KID3wEIgjKRLLpKGLgFwiCfslGhkb7IbLgAzE1GhMxWxRRBEEwmEgDERWfW6fXuttq60a2wU6B1qlzb9U5fatsKROJVigUArvd7oeAyePx6Af3qGYymT7F2h8Wi+V7Pp+fmE7iv4Sw81GieusKIzNh4puCJzdaHIagCW1F4KSeQ4O4pPLoPb/3INBGBZ7avgz8fxWIxWIUCoX43Blegbe3NwoGg88zwMoncFUB8Yokj8dDdrv9MpfHVquV/H4/iVcpc1qgKAp5vV6y2WxaWhefreB0OimXy6kGkD0YDKhSqdB2u+XJqVSK4vE4QWS5XKrx0WjEcZ/PR9lslhwOh8p1Oh2q1Wp0OBw4RwvOKpBOp1kcSdivZPLvmxrjRCKhiiOOSmQyGXp5ecFQbRhLcRDRaJTe39//BHW+2cDr6ysFAoGrlEgkwpwWS1I7z+VykdvtliHuw+Ew40vABvb7Pf6hLuMk/rGY02ImBZC8dqv04lpOYjaw2WzUPZcB2WMPZet2u1cmZ7MZTSYTNWU+n9N4PJbp3GvXYPIE2ADG9Xqder2e+kTr9ZqazSa1222eA6FqtUoQwqHCuFgscgWQWC6XaTgcEiqKQ9poNOiegbNfwWq1olKppB6yW6cWVcDHbDarIuzuBBaLhWrqVvwy/6wCMnhLXMbR4wnvtX/F5VxdAzJoRH+2BUYItlotmk6nLGW4gX6/z+IAT9+CLwPPr8DprnZ2MIwaQBsV+DBKUEfnQ8EtFRdFneBDKWhCW8EVGbdUQfxESR6qKhaHBrSgCe3fbLTpPlS70M0AAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 16px 18px;
  background-position: 98% 50%;
}

.u-section-5 .u-btn-2 {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background-image: none;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 581px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 909px;
  }

  .u-section-5 .u-shape-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 135px;
    margin-right: 54px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 887px;
    margin: -684px 27px 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 813px;
  }

  .u-section-5 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 503px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1573px;
  }

  .u-section-5 .u-shape-1 {
    width: 657px;
    height: 570px;
    margin-top: 879px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 669px;
    margin-top: -1441px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 713px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 771px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1299px;
  }

  .u-section-5 .u-shape-1 {
    width: 540px;
    margin-right: 300px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 490px;
    margin-top: -1432px;
    margin-bottom: 52px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 578px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1187px;
  }

  .u-section-5 .u-shape-1 {
    width: 290px;
    height: 365px;
    margin-top: 782px;
    margin-right: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 300px;
    margin-top: -1139px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 734px;
  }

  .u-section-5 .u-group-elements-1 {
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: 8px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 364px;
  }
}