 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/136.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 986px;
}

.u-section-1 .u-group-1 {
  width: 274px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  height: auto;
  min-height: 479px;
  margin: 409px auto 19px 13px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 27px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 20px 0 41px;
}

.u-section-1 .u-image-1 {
  width: 234px;
  height: 300px;
  margin: 0 auto 0 11px;
}

.u-section-1 .u-btn-1 {
  --radius: 10px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 0 24px;
  padding: 29px 70px 31px 68px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 0% 50%;
  }

  .u-section-1 .u-group-1 {
    margin-top: 406px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 26px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 15px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 977px;
  }

  .u-section-1 .u-group-1 {
    min-height: 462px;
    margin-top: 360px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 12px;
    padding-right: 0;
    padding-bottom: 12px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 32px;
    margin-right: 16px;
    margin-left: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 23px;
    padding: 11px 67px 12px 66px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 994px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 11px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 26px 0 56px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(25% - 15px);
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 800px;
  grid-gap: 20px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/Tire-repair.jpeg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-icon-1 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px 61px 0;
  padding: 32px;
}

.u-section-2 .u-icon-2 {
  width: 77px;
  height: 77px;
  margin: -167px auto 0 -6px;
  padding: 0;
}

.u-section-2 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.5rem;
  margin: 104px 20px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 26px 20px 0;
}

.u-section-2 .u-btn-2 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 30px 41px 0;
  padding: 10px 51px 11px 50px;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/36258225392b466dbbdc648cc5d20d9246b94e6f366418503ed55f11e69088f3e13326d9b4e995e60d91e6fee8e32cb8cd56a3c407c6dcdaf31c47_1280.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-icon-4 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px 61px 0;
  padding: 32px;
}

.u-section-2 .u-icon-5 {
  width: 77px;
  height: 77px;
  margin: -167px auto 0 -6px;
  padding: 0;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 104px 20px 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-2 .u-text-5 {
  margin: 26px 20px 0;
}

.u-section-2 .u-btn-4 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 30px 41px 0;
  padding: 10px 51px 11px 50px;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/09eea30f0c3c567a97572c644df616179bd3c9ddd08f1e8b9c7bfa87aa501b9faf40991675def4982201841c020da388c3f4268f4a38e2150d58a8_1280.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-icon-7 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px 61px 0;
  padding: 32px;
}

.u-section-2 .u-icon-8 {
  width: 77px;
  height: 77px;
  margin: -167px auto 0 -6px;
  padding: 0;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 104px 20px 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-2 .u-text-7 {
  margin: 26px 20px 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 30px 41px 0;
  padding: 10px 51px 11px 50px;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/VehicleLockout.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-icon-10 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px 61px 0;
  padding: 32px;
}

.u-section-2 .u-icon-11 {
  width: 77px;
  height: 77px;
  margin: -167px auto 0 -6px;
  padding: 0;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 104px 20px 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-2 .u-text-9 {
  margin: 26px 20px 0;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-10 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 30px 41px 0;
  padding: 10px 51px 11px 50px;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/11615ef35331e8fdb56e93b5b0a88ff6ae675d46333461cf181b4afd3d7947fa6bbf71ce6ba183274c02bd8a22c7a730cac2b166192e59e233408d_1280.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-icon-14 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px 61px 0;
  padding: 32px;
}

.u-section-2 .u-icon-15 {
  width: 77px;
  height: 77px;
  margin: -167px auto 0 -6px;
  padding: 0;
}

.u-section-2 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 104px 20px 0;
}

.u-section-2 .u-btn-11 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-2 .u-text-11 {
  margin: 26px 20px 0;
}

.u-section-2 .u-btn-12 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 30px 41px 0;
  padding: 10px 51px 11px 50px;
}

.u-section-2 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/675691515f859a7e9a67c343ecf6d2eb4599456777a9a1a9ab5a8108b024f246e658a865cd3ab31823282771ed5383cc373f09e937b438679ec00e_1280.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-icon-17 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px 61px 0;
  padding: 32px;
}

.u-section-2 .u-icon-18 {
  width: 77px;
  height: 77px;
  margin: -167px auto 0 -6px;
  padding: 0;
}

.u-section-2 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 104px 20px 0;
}

.u-section-2 .u-btn-13 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-2 .u-text-13 {
  margin: 26px 20px 0;
}

.u-section-2 .u-btn-14 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 30px 41px 0;
  padding: 10px 51px 11px 50px;
}

.u-section-2 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/ontario-towing-blog.png');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-icon-20 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px 61px 0;
  padding: 32px;
}

.u-section-2 .u-icon-21 {
  width: 77px;
  height: 77px;
  margin: -167px auto 0 -6px;
  padding: 0;
}

.u-section-2 .u-text-14 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 104px 20px 0;
}

.u-section-2 .u-btn-15 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-2 .u-text-15 {
  margin: 26px 20px 0;
}

.u-section-2 .u-btn-16 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 30px 41px 0;
  padding: 10px 51px 11px 50px;
}

.u-section-2 .u-image-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/auto-mechanic-florida_hero.webp');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 30px;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-icon-23 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px 61px 0;
  padding: 32px;
}

.u-section-2 .u-icon-24 {
  width: 77px;
  height: 77px;
  margin: -167px auto 0 -6px;
  padding: 0;
}

.u-section-2 .u-text-16 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 104px 20px 0;
}

.u-section-2 .u-text-17 {
  margin: 26px 20px 0;
}

.u-section-2 .u-btn-17 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 30px 41px 0;
  padding: 10px 51px 11px 50px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 586px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-17 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1790px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 9px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10px);
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 1644px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 22px;
    margin-right: 104px;
    margin-left: 98px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -170px;
    margin-right: 279px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 22px;
    margin-right: 84px;
    margin-left: 78px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 22px;
    margin-right: 104px;
    margin-left: 98px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -170px;
    margin-right: 279px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 22px;
    margin-right: 84px;
    margin-left: 78px;
  }

  .u-section-2 .u-icon-7 {
    margin-top: 22px;
    margin-right: 104px;
    margin-left: 98px;
  }

  .u-section-2 .u-icon-8 {
    margin-top: -170px;
    margin-right: 279px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 22px;
    margin-right: 84px;
    margin-left: 78px;
  }

  .u-section-2 .u-icon-10 {
    margin-top: 22px;
    margin-right: 104px;
    margin-left: 98px;
  }

  .u-section-2 .u-icon-11 {
    margin-top: -170px;
    margin-right: 279px;
  }

  .u-section-2 .u-btn-10 {
    margin-top: 22px;
    margin-right: 84px;
    margin-left: 78px;
  }

  .u-section-2 .u-icon-14 {
    margin-top: 22px;
    margin-right: 104px;
    margin-left: 98px;
  }

  .u-section-2 .u-icon-15 {
    margin-top: -170px;
    margin-right: 279px;
  }

  .u-section-2 .u-btn-12 {
    margin-top: 22px;
    margin-right: 84px;
    margin-left: 78px;
  }

  .u-section-2 .u-icon-17 {
    margin-top: 22px;
    margin-right: 104px;
    margin-left: 98px;
  }

  .u-section-2 .u-icon-18 {
    margin-top: -170px;
    margin-right: 279px;
  }

  .u-section-2 .u-btn-14 {
    margin-top: 22px;
    margin-right: 84px;
    margin-left: 78px;
  }

  .u-section-2 .u-icon-20 {
    margin-top: 22px;
    margin-right: 104px;
    margin-left: 98px;
  }

  .u-section-2 .u-icon-21 {
    margin-top: -170px;
    margin-right: 279px;
  }

  .u-section-2 .u-btn-16 {
    margin-top: 22px;
    margin-right: 84px;
    margin-left: 78px;
  }

  .u-section-2 .u-icon-23 {
    margin-top: 22px;
    margin-right: 104px;
    margin-left: 98px;
  }

  .u-section-2 .u-icon-24 {
    margin-top: -170px;
    margin-right: 279px;
  }

  .u-section-2 .u-btn-17 {
    margin-top: 22px;
    margin-right: 84px;
    margin-left: 78px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 208px;
    margin-left: 184px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 469px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 8px;
    margin-right: 187px;
    margin-left: 164px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 208px;
    margin-left: 184px;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 469px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 8px;
    margin-right: 187px;
    margin-left: 164px;
  }

  .u-section-2 .u-icon-7 {
    margin-right: 208px;
    margin-left: 184px;
  }

  .u-section-2 .u-icon-8 {
    margin-right: 469px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 8px;
    margin-right: 187px;
    margin-left: 164px;
  }

  .u-section-2 .u-icon-10 {
    margin-right: 208px;
    margin-left: 184px;
  }

  .u-section-2 .u-icon-11 {
    margin-right: 469px;
  }

  .u-section-2 .u-btn-10 {
    margin-top: 8px;
    margin-right: 187px;
    margin-left: 164px;
  }

  .u-section-2 .u-icon-14 {
    margin-right: 208px;
    margin-left: 184px;
  }

  .u-section-2 .u-icon-15 {
    margin-right: 469px;
  }

  .u-section-2 .u-btn-12 {
    margin-top: 8px;
    margin-right: 187px;
    margin-left: 164px;
  }

  .u-section-2 .u-icon-17 {
    margin-right: 208px;
    margin-left: 184px;
  }

  .u-section-2 .u-icon-18 {
    margin-right: 469px;
  }

  .u-section-2 .u-btn-14 {
    margin-top: 8px;
    margin-right: 187px;
    margin-left: 164px;
  }

  .u-section-2 .u-icon-20 {
    margin-right: 208px;
    margin-left: 184px;
  }

  .u-section-2 .u-icon-21 {
    margin-right: 469px;
  }

  .u-section-2 .u-btn-16 {
    margin-top: 8px;
    margin-right: 187px;
    margin-left: 164px;
  }

  .u-section-2 .u-icon-23 {
    margin-right: 208px;
    margin-left: 184px;
  }

  .u-section-2 .u-icon-24 {
    margin-right: 469px;
  }

  .u-section-2 .u-btn-17 {
    margin-top: 8px;
    margin-right: 187px;
    margin-left: 164px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 1906px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 269px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 269px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-8 {
    margin-right: 269px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-10 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-11 {
    margin-right: 269px;
  }

  .u-section-2 .u-btn-10 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-14 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-15 {
    margin-right: 269px;
  }

  .u-section-2 .u-btn-12 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-17 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-18 {
    margin-right: 269px;
  }

  .u-section-2 .u-btn-14 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-20 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-21 {
    margin-right: 269px;
  }

  .u-section-2 .u-btn-16 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-23 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-24 {
    margin-right: 269px;
  }

  .u-section-2 .u-btn-17 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 719px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-3 .u-image-1 {
  min-height: 599px;
  background-image: url("images/Screenshot2024-06-06at7.22.24PM.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding-top: 30px;
  padding-right: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 599px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 21px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 79px 9px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 26px 182px 0 9px;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  margin: 26px 317px 0 9px;
  padding: 17px 60px 18px 58px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 494px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 494px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 91px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 226px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-3 .u-image-1 {
    min-height: 378px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 467px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-left: 15px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 116px;
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-3 .u-image-1 {
    order: 1;
    min-height: 567px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
    order: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 28px;
    margin-bottom: 37px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 357px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 459px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 760px;
}

.u-section-4 .u-text-1 {
  font-family: "ADLaM Display";
  font-size: 3rem;
  margin: 56px 87px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin: 55px auto 60px 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-top: 59px;
    margin-left: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 20px;
    margin-right: 20px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 678px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1072px;
  margin: 28px auto 42px 15px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 618px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 18px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 235px 25px 0 0;
}

.u-section-5 .u-group-elements-1 {
  width: 300px;
  min-height: 55px;
  height: auto;
  margin: 24px auto 0 89px;
}

.u-section-5 .u-social-icons-1 {
  height: 55px;
  min-height: 16px;
  width: 55px;
  min-width: 16px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-icon-1 {
  height: 78px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: -43px 0 0 66px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 25px 25px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 618px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-shape-1 {
  width: 538px;
  height: 582px;
  margin: 56px -22px -30px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: 39px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 813px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 503px;
  }

  .u-section-5 .u-shape-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: 465px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 740px;
    margin-right: -20px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 618px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 19px 0;
  }

  .u-section-5 .u-text-1 {
    margin-left: 18px;
  }

  .u-section-5 .u-group-elements-1 {
    margin-top: 21px;
    margin-right: 24px;
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: 28px;
    margin-left: 18px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 618px;
  }

  .u-section-5 .u-shape-1 {
    width: 383px;
    height: 572px;
    margin-right: -18px;
    margin-bottom: -20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 47px;
    margin-bottom: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 266px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-5 .u-group-elements-1 {
    margin-right: auto;
    margin-left: 136px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 593px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 986px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 390px;
    margin: 1px auto 60px -15px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 302px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 24px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-top: 0;
    margin-right: 10px;
  }

  .u-section-5 .u-group-elements-1 {
    width: 350px;
    margin-top: 16px;
    margin-right: 15px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-text-3 {
    width: 328px;
    margin-top: 14px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 472px;
  }
}